<div *ngIf="step === 0" class="formblock">
	<ul class="links">
		<li>
			<a href="javascript:void(0)" (click)="clear()">清除重填</a>
		</li>
		<li>
			<a routerLink="/Reward/Bonus2018Q1">回首頁</a>
		</li>
	</ul>
	<p class="title">Step1: 請點選指定交易進行兌換</p>
	<table>
		<thead>
			<tr>
				<th>
					<input type="checkbox" id="checkAll" #checkAll class="artfld check-all" (change)="onCheckAll(checkAll.checked)">
					<label for="checkAll">
						<span>
							<span class="getCheck"></span>
						</span>
					</label>
					<span>全選</span>
				</th>
				<th>序號</th>
				<th>消費日</th>
				<th class="full">刷卡金額</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tx of transactions">
				<td>
					<input type="checkbox" class="artfld" [id]="'a' + tx.SeqNo" [(ngModel)]="tx.CHECKED">
					<label [for]="'a' + tx.SeqNo">
						<span>
							<span class="getCheck"></span>
						</span>
					</label>
					<span *ngIf="redeemType === 1">{{tx.SAL_POINT}}點</span>
				</td>
				<td>{{tx.SeqNo}}</td>
				<td>{{tx.TX_DATE | date:'y/MM/dd'}}</td>
				<td>{{tx.TX_AMT | number }}</td>
			</tr>
		</tbody>
		<tfoot>
			<td *ngIf="redeemType === 1" colspan="4">選取交易合計點數
				<span class="red">{{selectedPoints}}</span> 點
			</td>
			<td *ngIf="redeemType === 2" colspan="4">選取交易累積金額
				<span class="red">{{selectedAmount | number}}</span> 元
			</td>
		</tfoot>
	</table>
	<div class="hr">
		<span></span>
	</div>
	<p class="title">Step2: 點選欲兌換之贈品及選擇份數</p>

	<table class="redeem-lists">
		<thead>
			<tr>
				<th class="full">贈品</th>
				<th *ngIf="redeemType === 1">兌換點數</th>
				<th *ngIf="redeemType === 2">兌換金額</th>
				<th>剩餘份數</th>
				<th>兌換份數</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let gift of gifts">
				<td>{{gift.Gift_NM}}</td>
				<td *ngIf="redeemType === 1" class="red nowrap">{{gift.Gift_Point}}點</td>
				<td *ngIf="redeemType === 2" class="red nowrap">{{gift.Gift_AMT | number}}元</td>
				<td>{{gift.Gift_Remain_Num | number}}</td>
				<td>
					<div class="artfld select">
						<select name="" id="" [(ngModel)]="gift.Gift_Redeem_Num" (ngModelChange)="onRedeemNumChange(gift)">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-block">
		<input type="button" class="btn open-lbox" (click)="confirm()" value="確認兌換">
	</div>
</div>
<div *ngIf="step === 1" class="formblock">
	<p class="title">感謝您參與此次活動，您這次兌換的資料如下</p>
	<table>
		<thead>
			<tr>
				<th class="full">贈品</th>
				<th *ngIf="redeemType === 1">兌換點數</th>
				<th *ngIf="redeemType === 2">兌換金額</th>
				<th>兌換份數</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let gift of redeemGifts">
				<td>{{gift.Gift_NM}}</td>
				<td *ngIf="redeemType === 1" class="red nowrap">{{gift.Gift_Point}}點</td>
				<td *ngIf="redeemType === 2" class="red nowrap">{{gift.Gift_AMT | number}}元</td>
				<td>{{gift.Gift_Redeem_Num}}</td>
			</tr>
		</tbody>
	</table>
	<div class="btn-block">
		<a class="btn abort" routerLink="/Reward/Bonus2018Q1">放棄兌換</a>
		<button class="btn" (click)="submit()">再次確認</button>
		<button class="btn" (click)="cancel()">重新選擇</button>
	</div>
</div>
<div *ngIf="step === 2" class="formblock">
	<p class="title">感謝您的參與，贈品兌換完成
		<br>所有贈品將於兌換完成次月中旬陸續送出，再請您留意手機簡訊或帳單地址。</p>
	<div class="btn-block">
		<a class="btn" routerLink="/Reward/Bonus2018Q1">回首頁</a>
	</div>
</div>
<div *ngIf="step === -1" class="formblock">
	<p class="title">感謝您參與 刷永豐。集點。野餐趣 活動
		<br>贈品兌換網頁將於 2018/03/15 09:00 開啟
		<br>敬請期待
	</p>
	<p class="desc center">如有需要服務之處，歡迎致電 24 小時客戶服務中心
		<br>02-2528-7776，我們將竭誠為您服務。
	</p>
</div>
<div *ngIf="step === -2" class="formblock">
	<p class="title">感謝您參與 刷永豐。集點。野餐趣 活動
		<br>贈品兌換活動已結束。
	</p>
	<p class="desc center">如有需要服務之處，歡迎致電 24 小時客戶服務中心
		<br>02-2528-7776，我們將竭誠為您服務。
	</p>
</div>
