
<div class="wrapper-container">
	<div class="wrapper">
	  <div class="wrapper-mask"></div>
	  <header>
		<div class="header-top">
		  <div class="container">
			<div class="logo">
				<a href="https://bank.sinopac.com/" title="永豐銀行首頁">
				<img class="hidden-min" src="/mma8/card/images/sinopac-logo.svg" alt="永豐銀行">
				<img class="hidden-max" src="/mma8/card/images/sinopac-logo-min.svg" alt="永豐銀行"></a></div>
			<h1 class="master-title">{{pageinfo.name}}</h1>
		  </div>
		</div>
	  </header>
	  <div class="outer_container">
		<div class="container no-breadcrumbs">
		  <div class="content full-content-min step-panel-block">
			<section class="trans-content">
			  <ul class="stepsbox">
				<li> <span> <i>身分認證</i></span></li>
				<li [class.active]="step == 0"> <span> <i>選擇退回帳戶</i></span></li>
				<li [class.active]="step == 1"><span> <i>填寫資料</i></span></li>
				<li [class.active]="step == 2"> <span> <i>再次確認</i></span></li>
				<li [class.active]="step == 3"><span> <i>申請結果</i></span></li>
			  </ul>
			</section>
		  </div>
		  <app-wizard [(current)]="current" [steps]="steps" [hidden]="true" (currentChange)="onWizardCurrentChange($event)"></app-wizard>
		</div>
	  </div>
	  <app-rwd-footer></app-rwd-footer>
	</div>
  </div>
