<div class="wrapper-container">
	<div class="wrapper">
		<div class="wrapper-mask"></div>
		<header>
			<div class="header-top">
				<div class="container">
					<div class="logo">
						<a>
							<img class="hidden-min" src="/mma8/card/images/sinopac-logo.svg" alt="永豐銀行" />
							<img class="hidden-max" src="/mma8/card/images/sinopac-logo-min.svg" alt="永豐銀行">
						</a>
					</div>
					<h1 class="header-title">簽帳金融卡換發</h1>
				</div>
			</div>
		</header>
		<section class="container-block container">
			<app-wizard [(current)]="current" [steps]="steps" [hidden]="true"></app-wizard>
		</section>
		<app-rwd-footer></app-rwd-footer>
	</div>
</div>
<!-- <div class="lboxed">
	<div class="close"></div>
	<div class="lbox-block">
		<div class="error-msg" id="err">
			<h3></h3>
			<div class="desc">
				<p></p>
			</div>
			<div class="btn-block center"><a class="btn close" href="#">關閉</a></div>
		</div>
	</div>
</div> -->
