<div class="wrapper">
		<app-auth-header></app-auth-header>
		<form [formGroup]="form">
			<div class="outer_container">
				<div class="container no-breadcrumbs">
					<div class="content transparent">
						<h2 class="title-with-icon">
							<i class="icon-auth"></i>{{pageinfo.name}}</h2>
							<span loadHtml="/mma8/card/htmls/他行臺幣帳戶身分驗證指定銀行.html"></span>
					</div>

					<div class="content full-content">
						<section class="trans-content">
							<table class="new-datatable">
								<tbody>
									<tr>
										<th>
											<p>
												<span class="red">*</span>身分證字號</p>
										</th>
										<td>
											<input type="text" class="artfld col-all-min col-4" formControlName="ID" id-mask maxlength="10" placeholder="請輸入身分證字號" />
										</td>
									</tr>
									<tr class="line">
										<td colspan="2"></td>
									</tr>
									<tr>
										<th>
											<p><span class="red">*</span>出生年月日</p>
										</th>
										<td>
											<input type="text" class="artfld col-all-min col-4 ctrl-date" formControlName="DOB" maxlength="8" numberOnly placeholder="例：19980905">
										</td>
									</tr>
									<tr class="line">
										<td colspan="2"></td>
									</tr>
									<tr>
										<th>
											<p>
												<span class="red">*</span>行動電話號碼</p>
										</th>
										<td>
											<input type="text" class="artfld col-all-min col-4" formControlName="MobileNo" numberOnly maxlength="10" placeholder="請輸入手機號碼 10 碼">
											<span class="red">*電話號碼需與他行留存一致，並確認可接收動態密碼。</span>
										</td>
									</tr>
									<tr class="line">
										<td colspan="2"></td>
									</tr>
							</table>
						</section>
						<section class="trans-content">
							<fieldset class="fieldset-block">
								<legend>其他銀行臺幣存款帳戶</legend>
							</fieldset>
							<table class="new-datatable">
								<tbody>
									<tr>
										<th>
											<p><span class="red">*</span>銀行</p>
										</th>
										<td>
											<div class="chain-phone with-qmark switch-input">
												<div class="toggle-input-method">
													<div class="artfld select col-all-min">
														<select formControlName="BankCode">
															<option value="" disabled>請選擇</option>
															<option *ngFor="let item of Banks" [value]="item.BankCode">{{ item.BankName }}</option>
														</select>
													</div>
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>
											<p>
												<span class="red">*</span>存款帳號</p>
										</th>
										<td>
											<input type="text" class="artfld col-all-min col-4" formControlName="DepositAccountNo" maxlength="16" placeholder="請輸入正確完整存款帳號" />
											<span class="red">*請注意! 無法使用 數位帳戶 或 外幣帳戶 驗證。
											</span>
										</td>
									</tr>
									<tr class="line">
										<td colspan="2"></td>
									</tr>
								</tbody>
							</table>
						</section>
						<section class="trans-content">
							<table class="new-datatable">
								<tbody>
									<tr>
										<th>
											<p><span class="red">*</span>驗證碼</p>
										</th>
										<td>
											<div class="captcha-block flex-box flex-vcenter">
												<input type="text" class="artfld col-all-min col-2" formControlName="captcha" maxlength="6" numberOnly placeholder="驗證碼">
												<div class="captcha">
													<img *ngIf="vcaptchaUrl" [src]="vcaptchaUrl" (click)="changeVcaptcha()">
												</div>
												<div>
													<a class="reload-captcha" href="javascript:void(0)" (click)="changeVcaptcha()">重新產生</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>

					<div class="content">
						<section class="trans-content">
							<div class="prfy">
								<span class="title">個人資料同意使用條款</span>
								<br>
								<span>為了提供您線上申辦信用卡及後續商品電話服務，於您按下「立即辦卡」時，您本次申請程序所填寫的資料，將會交付永豐銀行；若您未能順利完成信用卡線上申請資料填寫，本行將依申請人所填寫或留存於本行之聯絡電話，指派專人與您聯絡，以利後續案件審核。永豐銀行必將保護您個人資料安全，且於法令許可及行銷永豐信用卡目的範圍內，於國內外蒐集、處理、利用您的個人資料。</span>
								<span>本人特此聲明已詳細閱讀「
									<a href="javascript:void(0)" class="udline open-lbox" (click)="openlbox('#terms3-lbox')">永豐銀行個人資料蒐集、處理及利用告知義務內容</a>」並同意個人資料蒐集處理及利用條款。
									<div>
										<span class="red">(須同意方可申請)</span>
									</div>
								</span>
								<ul class="ctrl-block center col-2-min terms2">
									<li>
										<input type="radio" id="a11" class="artfld surround" formControlName="PIIAgreement" [value]="true">
										<label for="a11">我同意</label>
									</li>
									<li>
										<input type="radio" id="a12" class="artfld surround" formControlName="PIIAgreement" [value]="false">
										<label for="a12">我不同意</label>
									</li>
								</ul>
							</div>
						</section>
					</div>

					<div class="content">
						<section class="trans-content">
							<div class="prfy">
								<span><span class="red">*</span>本人特此聲明已詳細閱讀「
									<a href="javascript:void(0)" class="udline open-lbox"  (click)="openlbox('#terms2-lbox')">個人網路銀行服務條款</a>」，其中以顯著字體表示之重要約定事項，
									有疑問之處業經本人向 貴行提出詢問並經 貴行說明及解答，對重要約定事項已充分理解並同意遵守全部內容。
									<div>
										<span class="red">(須同意方可申請)</span>
									</div>
								</span>
								<ul class="ctrl-block center col-2-min terms2">
									<li>
										<input type="radio" id="a21" class="artfld surround" formControlName="IBankAgreement" [value]="true">
										<label for="a21">我同意</label>
									</li>
									<li>
										<input type="radio" id="a22" class="artfld surround" formControlName="IBankAgreement" [value]="false">
										<label for="a22">我不同意</label>
									</li>
								</ul>
								<p class="red center req" style="display: none;">很抱歉，如您不同意個人網路銀行服務條款，無法完成線上辦卡，如有任何疑問，歡迎您撥打 24 小時服務專線 02-2528-7776。</p>
							</div>
						</section>
					</div>

					<div class="content">
						<section class="trans-content">
							<div class="prfy">
								<span class="title">同意資料驗證作業</span>
								<br>
								<span>本行基於服務立場，得將申請人基本資料，如身分證字號、臺幣存款帳號等資料，透過財金資訊股份有限公司進行金融帳戶資訊核驗等相關作業。
									<div>
										<span class="red">(須同意方可申請)</span>
									</div>
								</span>
								<ul class="ctrl-block center col-2-min terms2">
									<li>
										<input type="radio" id="a31" class="artfld surround" formControlName="OtherBankAuthAgreement" [value]="true">
										<label for="a31">我同意</label>
									</li>
									<li>
										<input type="radio" id="a32" class="artfld surround" formControlName="OtherBankAuthAgreement" [value]="false">
										<label for="a32">我不同意</label>
									</li>
								</ul>
							</div>
						</section>
					</div>

					<div class="btn-zone">
						<p class="red remind">以上條款皆須點選「我同意」方可申請辦卡。</p>
						<a id="order" href="javascript:void(0)" class="nbtn focus" (click)="submit()">立即辦卡</a>
					</div>
					<app-auth-warning></app-auth-warning>
					<div class="lboxed">
						<div class="close"></div>
						<div class="lbox-block">
							<div id="terms2-lbox" class="terms-lbox">
								<h3>個人網路銀行服務條款</h3>
								<div class="terms-block">
									<div class="wrapper">
										<p>
											<span loadHtml="{{bankServiceTermsUrl}}"></span>
										</p>
									</div>
								</div>
								<div class="btn-zone flex-inline-min">
									<a href="javascript:void(0)" class="nbtn focus close" (click)="form.patchValue({IBankAgreement: true})">同意</a>
									<a href="javascript:void(0)" class="nbtn close" (click)="form.patchValue({IBankAgreement: false})">不同意</a>
								</div>
							</div>
							<div id="terms3-lbox" class="terms-lbox">
								<h3>永豐銀行個人資料蒐集、處理及利用告知義務內容</h3>
								<div class="terms-block">
									<div class="wrapper">
										<p>
											<span loadHtml="{{personalDataTermsUrl}}"></span>
										</p>
									</div>
								</div>
								<div class="btn-zone flex-inline-min">
									<a href="#" class="nbtn focus close">關閉</a>
								</div>
							</div>
							<div id="cardmember-lbox" class="choose-auth-method">
								<h3>您已是永豐卡友！</h3>
								<div>
									<p>歡迎您使用【本行信用卡卡友】身分進行驗證申請，即可免傳真、免寄回、無需上傳身分及財力證明等文件，線上快速完成申辦!</p>
									<div class="auth-method-block">
										<div class="btn-zone">
											<a href="javascript:void(0)" class="nbtn focus" (click)="auth('Card')">本行信用卡卡友</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<app-auth-footer></app-auth-footer>
	</div>
