<div class="warning hidden-max">
	<div class="warningbox">
		<h2>謹慎理財 信用至上</h2>
		<p style="line-height:15px">24小時服務專線：(02)2528-7776/0800-058-888 (限市話)
		<!--2023/02/18 作元告知拿掉信箱
			<p style="line-height:15px">100900 台北北門郵局第818號信箱</p>-->
			<br>循環信用利率5%~15% (基準日2023/3/3)；預借現金手續費：預借現金金額x3.5%+指定金額(100元新臺幣/3.5美元/350日圓/3歐元) 其他費用請上永豐銀行網站查詢</p>
	</div>
</div>

<div class="warning hidden-min">
	<div class="warningbox">
		<h2>謹慎理財 信用至上</h2>
		<p>24小時服務專線：(02)2528-7776/0800-058-888 (限市話)
			<!--2023/02/18 作元告知拿掉信箱
			<br class="hidden-max">100900 台北北門郵局第818號信箱-->
			<br>循環信用利率5%~15% (基準日2023/3/3)；預借現金手續費：預借現金金額x3.5%+指定金額(100元新臺幣/3.5美元/350日圓/3歐元) 其他費用請上永豐銀行網站查詢</p>
	</div>
</div>
