
<div class="outer_container">
	<div class="container no-breadcrumbs">
		<div class="content full-content">
			<section class="trans-content">
				<fieldset class="fieldset-block pink-legend">
				<legend class="nowrap">信用卡自動扣繳設定</legend>
				</fieldset>
				<table class="new-datatable">
				<tbody>
					<tr>
					<td class="reminds">
						<div class="prfy">
						<div class="success center red">
							<p>設定本期扣款金額</p>
						</div>
						<p class="center">如欲自行輸入當期帳單的扣款金額<br>(請注意!只適用設定本期帳單)</p>
						</div>
						<div class="btn-zone flex-inline-min" (click)="submit1()"><a class="nbtn" >本期金額設定</a></div>
					</td>
					</tr>
					<tr>
					<td>
						<hr class="line" style="margin:0 2em">
					</td>
					</tr>
					<tr>
					<td class="reminds">
						<div class="prfy">
						<div class="success center red">
							<p>扣繳方式變更設定</p>
						</div>
						<p class="center">如想變更扣繳方式或扣款帳號</p>
						</div>
						<div class="btn-zone flex-inline-min" (click)="submit2()"><a class="nbtn" >變更設定</a></div>
					</td>
					</tr>
				</tbody>
				</table>
			</section>
		</div>
		<div class="content">
			<section class="trans-content">
				<div class="prfy">
					<p class="title">
						※ 注意事項：
						<ol class="decimal" >
						<li style="list-style-type: none;">本服務限本行存款帳戶扣繳本行信用卡應繳款項。</li>
						</ol>
				</div>
			</section>
		</div>
	</div>
</div>
