<div class="formblock" *ngIf="cardtypeOptions.length > 1">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="data-table forvd">
		<tbody>
			<tr>
				<th>
					<div class="rowElem inner-th">卡別</div>
				</th>
				<td>
					<div class="artfld select col-5 rowElem">
						<select [(ngModel)]="cardtype" (ngModelChange)="onSelectCardtypeChange($event)">
							<option value="-1">全部卡別</option>
							<option *ngFor="let option of cardtypeOptions" [value]=option.Value>{{option.DisplayName}}
							</option>
						</select>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div style="margin: 20px">
	<app-column-chart [data]="Records" display="Month" quantity="Amount" color="Color"></app-column-chart>
</div>
<table *ngFor="let records of HalfYearRecords" class="ntable cols center">
	<tbody>
		<tr>
			<th>帳單月份</th>
			<td *ngFor="let record of records">{{ record.Month }}</td>
		</tr>
		<tr>
			<th>消費總金額</th>
			<td *ngFor="let record of records">{{ record.Amount | number }}</td>
		</tr>
	</tbody>
</table>
