<div class="outer_container">
	<div class="container no-breadcrumbs">
		<div class="content full-content">
			<section class="trans-content">
				<fieldset class="fieldset-block pink-legend">
				<legend class="nowrap">信用卡自動扣繳申請</legend>
				</fieldset>
				<table class="new-datatable">
				<tbody>
					<tr>
					<td class="reminds">
						<div class="prfy">
						<div class="success center red">
							<p>非本行客戶</p>
						</div>
						<p class="center">您目前非本行信用卡客戶，歡迎您辦理本行信用卡。若您這兩週已申請，可點擊下方按鈕進行查詢。</p>
						</div>
						<div class="btn-zone flex-inline-min"><a class="nbtn focus" routerLink="/Application/ApplicationStatus">申請進度查詢</a></div>
					</td>
					</tr>
				</tbody>
				</table>
			</section>
		</div>
		<div class="content">
			<section class="trans-content">
				<div class="prfy">
				<p class="title">※ 注意事項：
					<ol class="decimal">
					<li style="list-style-type: none;">外國人申請信用卡自動扣繳服務，請洽詢信用卡客服中心(02)2528-7776協助。</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</div>
