<div class="outer_container">
	<div class="container no-breadcrumbs">
		<div class="content full-content">
			<section class="trans-content">
				<fieldset class="fieldset-block pink-legend">
				<legend class="nowrap">信用卡自動扣繳申請</legend>
				</fieldset>
				<table class="new-datatable">
				<tbody>
					<tr>
					<td class="reminds">
						<div class="prfy">
						<div class="success center red">
							<p>新申請</p>
						</div>
						<p class="center">初次申請</p>
						</div>
						<div class="btn-zone flex-inline-min" (click)="submit()"><a class="nbtn focus">立即申請設定</a></div>
					</td>
					</tr>
				</tbody>
				</table>
			</section>
			</div>
			<div class="content">
			<section class="trans-content">
				<div class="prfy">
				<p class="title">※ 注意事項：
					<ol class="decimal">
					<li>本服務限本行存款帳戶扣繳本行信用卡應繳款項。</li>
					<li>外國人申請信用卡自動扣繳服務，請洽詢信用卡客服中心(02)2528-7776協助。</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</div>
