<div class="outer_container">
	<div class="container no-breadcrumbs">
		<div class="content full-content">
			<section class="trans-content">
				<fieldset class="fieldset-block pink-legend">
					<legend class="nowrap">信用卡自動扣繳申請</legend>
				</fieldset>
				<table class="new-datatable">
					<tbody>
					<tr>
						<td class="reminds">
						<div class="prfy">
							<div class="success center red">
							<p>尚未申請服務</p>
							</div>
							<p class="center">您尚未開立本行帳戶，歡迎您攜帶身分證件前往任一分行開立帳戶，<br class="hidden-min">或點擊下方按鈕申請DAWHO 數位帳戶。</p>
						</div>
						<div class="btn-zone flex-inline-min"><a class="nbtn focus" href="https://apply.sinopac.com/OpenAccount/OpenAccount/WhichOne?_sasdk=fNjAwMDEzMjMwMg&_ga=2.107810561.2040784177.1648630853-1689240381.1648088616#">開立DAWHO帳戶</a></div>
						</td>
					</tr>
					</tbody>
				</table>
			</section>
		</div>
		<div class="content">
			<section class="trans-content">
				<div class="prfy">
					<p class="title">※ 注意事項：
					<ol class="decimal">
						<li style="list-style-type: none;">外國人申請信用卡自動扣繳服務，請洽詢信用卡客服中心(02)2528-7776協助。</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</div>
