#patternlock_area{width:270px;position:relative;margin:10px auto 10px;padding: 10px;}
.patt-wrap {margin: auto;overflow: hidden;cursor: pointer;}
li .patt-circ {margin: 15px;width: 50px;height: 50px;border-radius: 25px;}
.patt-wrap li {transition: all .4s ease-in-out 0s;padding:0;}
.patt-circ {position: relative;float: left;box-sizing: border-box;border: 3px solid transparent; margin: 15px; width: 50px; height: 50px; border-radius: 25px;border: 3px solid #D9D8D8;}
.patt-dots {width: 10px;top: 50%;left: 50%;margin-top: -5px;margin-left: -5px;border-radius: 5px;height: 10px;position: absolute;background:#D9D8D8;}
.patt-circ.hovered {border: 3px solid #E45A55;}
.patt-lines {
    border-radius: 5px;
    height: 10px;
    background: #F37C77;
	opacity:0.7;
    position: absolute;
    transform-origin: 5px 5px;
    -ms-transform-origin: 5px 5px;
    -webkit-transform-origin: 5px 5px;
}
.patt-circ:nth-child(1),
.patt-circ:nth-child(2),
.patt-circ:nth-child(3) {
    animation: fadeInUp .4s
}
.patt-circ:nth-child(4),
.patt-circ:nth-child(5),
.patt-circ:nth-child(6) {
    animation: fadeInUp .6s
}
.patt-circ:nth-child(7),
.patt-circ:nth-child(8),
.patt-circ:nth-child(9) {
 animation: fadeInUp .8s
}