<form id="mydata-form" method="post">
	<input type="hidden" name="BusinessNo" value="{{this.mydataForm.BusinessNo}}">
	<input type="hidden" name="ApiVersion" value="{{this.mydataForm.ApiVersion}}">
	<input type="hidden" name="HashKeyNo" value="{{this.mydataForm.HashKeyNo}}">
	<input type="hidden" name="VerifyNo" value="{{this.mydataForm.VerifyNo}}">
	<input type="hidden" name="Token" value="{{this.mydataForm.Token}}">
	<input type="hidden" name="IdentifyNo" value="{{this.mydataForm.IdentifyNo}}">
</form>
