<div class="outer_container">
	<div class="container no-breadcrumbs">
		<div class="content full-content">
			<section class="trans-content">
				<fieldset class="fieldset-block pink-legend">
				<legend>信用卡自動扣繳設定約定條款</legend>
				</fieldset>
				<table class="new-datatable" [innerHTML]="xmlString">
			<!-- 為方便後人編輯修改[WEBDB].[dbo].[AgreementInfo]特留下原始檔 -->
			<!-- <tbody>
				<tr>
					<td class="reminds">
						<p class="fw-bold mt1">信用卡新臺幣自動轉帳付款申請授權條款</p>
						<P>立授權書人（以下簡稱授權人），茲為便於支付本授權書所載之持卡人所有永豐信用卡所應繳付之各項金額（含同一身分證字號歸戶下之附卡），並同意如下：</P>
						<ol class="decimal">
							<li>授權人謹授權本行於指定之本行存款帳戶，均依本規定辦理轉帳扣繳本行信用卡應繳納之款項，而無須授權人另行簽具取款憑證。</li>
							<li>授權人之帳戶內無足夠餘額且未如期補足上述款項時，本行無代付款、扣抵或墊款之義務。</li>
						</ol>
						<p class="fw-bold mt1">信用卡新臺幣自動轉帳付款申請注意事項</p>
						<ol class="decimal">
							<li>約定自動轉帳繳款者，須限定以正卡持卡人本人之帳戶繳付本人之信用卡款。(含同一身分證字號歸戶下之附卡) </li>
							<li>本行將於近期內完成自動轉帳付款設定，於本行授權設定生效前，請授權人仍須自行繳納，以免產生逾期違約金及循環利息。</li>
							<li>自動轉帳約定生效後將於您的信用卡每期繳款截止日進行扣款，當自動轉帳帳戶餘額小於本期應扣繳金額時，則以該帳戶全部餘額扣款，並於次一營業日進行第二次扣款。</li>
							<li>若您以永豐銀行綜合存款帳戶設定自動轉帳扣款，扣款當日若授權之綜合存款帳戶之活存(儲)金額不足扣款時，會依您與銀行間之約定自動由定存(儲)金額或可動用貸款額度以活期領用方式轉出扣繳信用卡款，因動用到定存(儲)或貸款額度，將依銀行規定收取質借或貸款利息，若因故無法扣款者，亦不再另行補扣，屆時必須自行臨櫃或以其他方式繳納帳款。</li>
							<li>若以臺幣自動轉帳方式扣繳信用卡款連續三期扣款失敗，本行將主動暫停自動轉帳約定，本行將不再於信用卡帳單上註明授權轉帳之行庫名稱及帳號，而無須另行通知；若日後欲恢復原帳戶自動扣款，請於本行網路銀行設定或信用卡電話服務專線。</li>
							<li>提醒您，請記得於繳款截止日前一營業日，在您自動轉帳帳戶裡存足應繳金額，以免影響權益(繳款截止日若遇假日，順延至次一營業日)。 </li>
						</ol>
					</td>
				</tr>
			</tbody> -->
				</table>
			</section>
		</div>
		<div class="btn-zone flex-inline-min" ><a class="nbtn" (click)="returnstep()">取消</a><a class="nbtn focus" (click)="submit()">確定</a></div>
	</div>
</div>
