<div>
	<table class="ntable cols table-striped">
		<tbody>
			<tr>
				<th>信用卡號</th>
				<td>
					{{formData.CardNo | creditcard}}
				</td>
			</tr>
			<tr>
				<th>有效期限</th>
				<td>
					{{formData.ExpiryDate.substr(0, 2) + '月20' + formData.ExpiryDate.substr(2) + '年'}}
				</td>
			</tr>
			<tr>
				<th>借款金額</th>
				<td>
					{{formData.Amount | number}} 元
				</td>
			</tr>
			<tr>
				<th>轉入帳號</th>
				<td>
					{{bankDisplayName}}
					<br>
					{{branchDisplayName}}
					<br *ngIf="this.formData.TransBranchCode">
					{{formData.TransAccount}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
