<form [formGroup]="form" (ngSubmit)="submit()">
	<div class="scrollbar" loadHtml={{Regulation}}></div>
	<div style="margin-top: 10px">
		<input type="checkbox" class="artfld" formControlName="consent" id="consent"/>
		<label for="consent">
			<span><span class="getCheck"></span></span>
			<font class="red left fs15">本人已詳閱並同意上列「預借現金分期(易通財)」各項費用收取標準及所列「預借現金分期(易通財)」注意事項與相關權益及約定條款</font>
		</label>
	</div>
	<div class="btn-zone">
		<button type="button" class="nbtn" (click)="goPrev()">上一步</button>
		<button type="submit" class="nbtn focus">同意並確定申請</button>
	</div>
</form>

