<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="formblock">
		<table class="new-datatable" width="100%">
			<tbody>
				<tr>
					<th class="mobile-col-4">
						<span>身分證字號</span>
					</th>
					<td>
						<input type="text" class="artfld col-3 mobile-col-12" formControlName="idNumber" maxlength=10 placeholder="請輸入身分證字號">
					</td>
				</tr>
				<tr>
					<th>
						<span>出生日期</span>
					</th>
					<td>
						<input type="text" class="autofocus artfld col-2 mobile-col-12" formControlName="birthday" numberOnly maxlength=4 placeholder="MMDD">
						<span class="mobile-hide">(日期填寫方式︰5月2日請填寫為0502)</span>
					</td>
				</tr>
				<tr>
					<th>
						<span>驗證碼</span>
					</th>
					<td>
						<app-vcaptcha formControlName="captcha"></app-vcaptcha>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="btn-zone">
		<app-link-button type="cancel">取消</app-link-button>
		<button type="submit" class="nbtn focus">確認送出</button>
	</div>
</form>
