@import 'reset.css';
@import url('/mma8/card/css-eweb/site.css');
@import 'owl.min.css';
@import 'styles.css';
@import 'animatemin.css';

.swalCancelClass {
    background-color: #C00000 !important;
    color: white !important;
}

.swalConfirmClass {
    background-color: #F5F5F5 !important;
    color: #6C6C6C !important;
    border-color: #B8B8B8 !important;
    border-width: thin !important;
    border-style: solid !important;
}
