@charset "UTF-8";

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font          : inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing : 0
}

body {
  font-size  : 100%;
  font-family: "微軟正黑體", "Microsoft Jhenghei", Arial, Helvetica, sans-serif;
  color      : #474747;
  line-height: 1.5
}

.container-block {
  padding-top: 20px;
  min-height : calc(100vh - 83px - 56px)
}

.container {
  max-width         : 1024px;
  width             : 100%;
  margin            : 0 auto;
  padding-left      : 12px;
  padding-right     : 12px;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box
}

a {
  color          : #004d99;
  text-decoration: none;
  cursor         : pointer
}

a:hover {
  text-decoration: none;
  color          : #3d9fd8
}

ol.decimal {
  list-style-type: decimal;
  margin-left    : 1.4em
}

.red {
  color: #c80f23
}

.mt-1 {
  margin-top: 1em
}

.fs-15 {
  font-size: 15px
}

.forced-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
  width             : 7px
}

.forced-scrollbar::-webkit-scrollbar-thumb {
  border-radius     : 4px;
  background-color  : rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  box-shadow        : 0 0 1px rgba(255, 255, 255, 0.5)
}

@media (max-width:1024px) {
  .container-block {
    padding-top: 1.95313vw;
    min-height : calc(100vh - 8.10547vw - 5.46875vw - 1.95313vw)
  }

  .forced-scrollbar::-webkit-scrollbar {
    width: 0.68359vw
  }

  .forced-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 0.39063vw
  }
}

@media (max-width:768px) {
  .container-block {
    padding   : 0;
    min-height: calc(100vh - 13.02083vw - 17.57813vw - 3.90625vw)
  }

  .forced-scrollbar::-webkit-scrollbar {
    width: 1.82292vw
  }

  .forced-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1.04167vw
  }
}

i.icon {
  display: inline-block
}

i.icon.icon-id {
  width     : 60px;
  height    : 50px;
  background: url(../images/icon-id.svg) no-repeat center center
}

i.icon.icon-building {
  width     : 60px;
  height    : 50px;
  background: url(../images/icon-building.svg) no-repeat center center
}

i.icon.icon-card {
  width     : 60px;
  height    : 50px;
  background: url(../images/icon-card.svg) no-repeat center center
}

i.icon.icon-id-title {
  width     : 69px;
  height    : 45px;
  background: url(../images/icon-id-title.svg) no-repeat center center
}

i.icon.icon-building-title {
  width     : 69px;
  height    : 45px;
  background: url(../images/icon-building-title.svg) no-repeat center center
}

i.icon.icon-card-title {
  width     : 69px;
  height    : 45px;
  background: url(../images/icon-card-title.svg) no-repeat center center
}

@media (max-width:1024px) {
  i.icon.icon-id {
    width : 5.85938vw;
    height: 4.88281vw
  }

  i.icon.icon-building {
    width : 5.85938vw;
    height: 4.88281vw
  }

  i.icon.icon-card {
    width : 5.85938vw;
    height: 4.88281vw
  }

  i.icon.icon-id-title {
    width : 6.73828vw;
    height: 4.39453vw
  }

  i.icon.icon-building-title {
    width : 6.73828vw;
    height: 4.39453vw
  }

  i.icon.icon-card-title {
    width : 6.73828vw;
    height: 4.39453vw
  }
}

@media (max-width:768px) {
  i.icon.icon-id {
    width : 10.41667vw;
    height: 8.85417vw
  }

  i.icon.icon-building {
    width : 10.41667vw;
    height: 8.85417vw
  }

  i.icon.icon-card {
    width : 10.41667vw;
    height: 8.85417vw
  }

  i.icon.icon-id-title {
    width : 13.02083vw;
    height: 8.46354vw
  }

  i.icon.icon-building-title {
    width : 13.02083vw;
    height: 8.46354vw
  }

  i.icon.icon-card-title {
    width : 13.02083vw;
    height: 8.46354vw
  }
}

a.btn,
button.btn,
input[type=submit].btn {
  display           : inline-block;
  background        : #d00f24;
  color             : white;
  font-size         : 18px;
  padding           : 20px 45px;
  margin            : 20px;
  line-height       : 1;
  border            : 1px solid #d00f24;
  border-radius     : 5px;
  font-family       : inherit;
  -webkit-transition: .3s ease;
  -o-transition     : .3s ease;
  transition        : .3s ease;
  cursor            : pointer;
  outline           : none;
  -webkit-appearance: none
}

a.btn:focus,
a.btn:hover,
button.btn:focus,
button.btn:hover,
input[type=submit].btn:focus,
input[type=submit].btn:hover {
  background        : #f31e36;
  -webkit-box-shadow: none;
  box-shadow        : none
}

a.btn.with-icon,
button.btn.with-icon,
input[type=submit].btn.with-icon {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center
}

a.btn.with-icon .icon,
button.btn.with-icon .icon,
input[type=submit].btn.with-icon .icon {
  margin-right: 15px
}

a.btn.disabled,
a.btn[disabled],
button.btn.disabled,
button.btn[disabled],
input[type=submit].btn.disabled,
input[type=submit].btn[disabled] {
  color             : #c7c7c7;
  cursor            : not-allowed;
  border            : 1px solid #dddddd;
  background        : white;
  background        : -moz-linear-gradient(top, white 0%, #efefef 100%);
  background        : -webkit-linear-gradient(top, white 0%, #efefef 100%);
  background        : -webkit-gradient(linear, left top, left bottom, from(white), to(#efefef));
  background        : -o-linear-gradient(top, white 0%, #efefef 100%);
  background        : linear-gradient(to bottom, white 0%, #efefef 100%);
  -webkit-box-shadow: 0px 1px 1px rgba(180, 178, 178, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0.7);
  box-shadow        : 0px 1px 1px rgba(180, 178, 178, 0.5), inset 0px 0px 0px rgba(255, 255, 255, 0.7)
}

a.btn.cancel,
button.btn.cancel,
input[type=submit].btn.cancel {
  background-color: #f5f5f5;
  color           : #474747;
  border-color    : #aaa
}

a.btn.cancel:focus,
a.btn.cancel:hover,
button.btn.cancel:focus,
button.btn.cancel:hover,
input[type=submit].btn.cancel:focus,
input[type=submit].btn.cancel:hover {
  background-color: #f31e36;
  border-color    : #d00f24;
  color           : white
}

a.btn.sml,
button.btn.sml,
input[type=submit].btn.sml {
  padding: 11px 25px;
  margin : .5em 1em
}

a.btn.loading,
button.btn.loading,
input[type=submit].btn.loading {
  position: relative
}

a.btn.loading:after,
button.btn.loading:after,
input[type=submit].btn.loading:after {
  content          : "";
  display          : block;
  width            : 20px;
  height           : 20px;
  background       : url(../images/loading.svg) no-repeat center center;
  background-size  : 100% 100%;
  position         : absolute;
  right            : -30px;
  top              : 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform    : translateY(-50%);
  transform        : translateY(-50%)
}

.btn-block.center {
  text-align: center
}

input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=week] {
  font-size         : 18px;
  font-family       : inherit;
  width             : 270px;
  padding           : 8px 10px;
  border-radius     : 5px;
  border            : 1px solid #aaa;
  -webkit-appearance: none;
  -webkit-transition: .15s ease;
  -o-transition     : .15s ease;
  transition        : .15s ease;
  outline           : none
}

input[type=email]:focus,
input[type=email]:hover,
input[type=number]:focus,
input[type=number]:hover,
input[type=search]:focus,
input[type=search]:hover,
input[type=tel]:focus,
input[type=tel]:hover,
input[type=text]:focus,
input[type=text]:hover,
input[type=url]:focus,
input[type=url]:hover,
input[type=week]:focus,
input[type=week]:hover {
  border-color      : #f7c43c;
  background        : #ffffcc;
  -webkit-box-shadow: inset 2px 2px 0px 0px #e5e5a6;
  box-shadow        : inset 2px 2px 0px 0px #e5e5a6
}

input.required {
  border-color: red
}

input.wide {
  width             : 100%;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box
}

input.wide60 {
  width             : 60%;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box
}

input.wide70 {
  width             : 70%;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box
}

.art-select {
  display : inline-block;
  position: relative
}

.art-select:after {
  content          : "";
  display          : block;
  width            : 8px;
  height           : 8px;
  border-top       : 4px solid #333;
  border-left      : 4px solid #333;
  position         : absolute;
  top              : 13px;
  right            : 15px;
  -webkit-transform: rotate(-135deg);
  -ms-transform    : rotate(-135deg);
  transform        : rotate(-135deg)
}

.art-select select {
  width             : 100%;
  -webkit-appearance: none;
  padding           : 8px 40px 8px 10px;
  font-size         : 18px;
  outline           : 0;
  font-family       : inherit;
  border-radius     : 5px;
  border            : 1px solid #aaa;
  -webkit-transition: .15s ease;
  -o-transition     : .15s ease;
  transition        : .15s ease
}

.art-select select:focus,
.art-select select:hover {
  border-color      : #f7c43c;
  background        : #ffffcc;
  -webkit-box-shadow: inset 2px 2px 0px 0px #e5e5a6;
  box-shadow        : inset 2px 2px 0px 0px #e5e5a6
}

.art-select select::-ms-expand {
  display: none
}

.art-select select.required {
  border-color: red
}

.form-table {
  width      : 100%;
  line-height: 1
}

.form-table caption {
  padding   : 25px 40px;
  text-align: left
}

.form-table caption.bot-line {
  line-height  : 1.5;
  border-bottom: 1px solid #aaa
}

.form-table caption span {
  font-size          : 26px;
  color              : #e8362c;
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
  white-space        : nowrap;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box
}

.form-table caption span:after {
  content           : "";
  display           : block;
  height            : 1px;
  width             : 100%;
  margin-left       : 16px;
  background-color  : #e8362c;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box
}

.form-table td,
.form-table th {
  font-size     : 18px;
  padding       : 20px;
  vertical-align: middle;
  border-bottom : 1px solid #aaa
}

.form-table th {
  width      : 20%;
  text-align : right;
  white-space: nowrap
}

.form-table tr:last-child td,
.form-table tr:last-child th {
  border-bottom: 0
}

fieldset {
  border-top: 1px solid #e8362c
}

fieldset legend {
  color        : #e8362c;
  font-size    : 26px;
  padding-right: 16px;
  margin-bottom: 1em
}

.captcha-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.captcha-block input {
  width       : 130px;
  margin-right: 20px
}

.captcha-block .captcha-img {
  display: block
}

.captcha-block .captcha-img img {
  vertical-align: middle;
  width         : 120px;
  height        : 40px;
  border        : 1px solid #aaa
}

.section-input {
  display      : -webkit-box;
  display      : -webkit-flex;
  display      : -ms-flexbox;
  display      : flex;
  margin-bottom: 10px
}

.section-input>*+* {
  margin-left: 10px !important
}

.section-input+.section-input {
  margin-left: 10px !important
}

.ctrl-block {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  margin-top             : 20px;
  margin-bottom          : 20px
}

.ctrl-block li {
  display: block
}

.form-radio {
  position: relative;
  cursor  : pointer;
  display : block
}

.form-radio input {
  position: absolute;
  z-index : -1;
  left    : 0;
  top     : 0;
  opacity : 0
}

.form-radio input:checked+.tickr {
  background        : #37b914;
  border-color      : #37b914;
  -webkit-box-shadow: none;
  box-shadow        : none
}

.form-radio input:checked+.tickr:before {
  position         : absolute;
  content          : "";
  display          : block;
  border           : 2px solid #fff;
  left             : 57%;
  margin-left      : -25%;
  top              : 37%;
  margin-top       : -25%;
  background       : transparent;
  width            : 25%;
  height           : 50%;
  border-left      : 0;
  border-top       : 0;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg)
}

.form-radio .tickr {
  position          : relative;
  display           : inline-block;
  width             : 20px;
  height            : 20px;
  vertical-align    : middle;
  cursor            : pointer;
  border            : 1px solid #aaa;
  background-color  : transparent;
  border-radius     : 100%;
  -webkit-box-shadow: inset 0px 1px 1px 0px #a7a7a7;
  box-shadow        : inset 0px 1px 1px 0px #a7a7a7;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  margin-right      : 10px;
  margin-top        : -2px
}

.form-radio.surround input:checked+.tickr {
  border-color: #e8362c;
  background  : transparent
}

.form-radio.surround input:checked+.tickr:after {
  position     : absolute;
  right        : 4px;
  top          : -9px;
  content      : "";
  display      : block;
  width        : 20px;
  height       : 20px;
  background   : #37b914;
  border-color : #37b914;
  border-radius: 50%;
  z-index      : 1
}

.form-radio.surround input:checked+.tickr:before {
  width      : 5px;
  height     : 10px;
  right      : 10px;
  top        : -6px;
  left       : auto;
  margin-left: 0;
  margin-top : 0;
  z-index    : 2
}

.form-radio.surround .tickr {
  width             : auto;
  height            : auto;
  display           : block;
  border            : 2px solid #aaa;
  padding           : 10px 50px;
  border-radius     : 100vw / 100vw;
  text-align        : center;
  -webkit-transition: .3s ease;
  -o-transition     : .3s ease;
  transition        : .3s ease;
  margin            : 0 20px;
  -webkit-box-shadow: none;
  box-shadow        : none
}

.form-radio.surround:hover .tickr {
  border-color: #e8362c
}

@media (max-width:1024px) {

  a.btn,
  button.btn,
  input[type=submit].btn {
    font-size    : 1.75781vw;
    padding      : 1.95313vw 4.39453vw;
    margin       : 1.95313vw;
    border-radius: 0.48828vw
  }

  a.btn.with-icon .icon,
  button.btn.with-icon .icon,
  input[type=submit].btn.with-icon .icon {
    margin-right: 1.46484vw
  }

  a.btn.sml,
  button.btn.sml,
  input[type=submit].btn.sml {
    padding: 0.97656vw 2.44141vw
  }

  a.btn.loading:after,
  button.btn.loading:after,
  input[type=submit].btn.loading:after {
    width : 1.95313vw;
    height: 1.95313vw;
    right : -2.92969vw
  }

  input[type=email],
  input[type=number],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  input[type=week] {
    font-size    : 1.75781vw;
    width        : 26.36719vw;
    padding      : 0.78125vw 0.97656vw;
    border-radius: 0.48828vw
  }

  input[type=email]:focus,
  input[type=email]:hover,
  input[type=number]:focus,
  input[type=number]:hover,
  input[type=search]:focus,
  input[type=search]:hover,
  input[type=tel]:focus,
  input[type=tel]:hover,
  input[type=text]:focus,
  input[type=text]:hover,
  input[type=url]:focus,
  input[type=url]:hover,
  input[type=week]:focus,
  input[type=week]:hover {
    -webkit-box-shadow: inset 0.19531vw 0.19531vw 0 0 #e5e5a6;
    box-shadow        : inset 0.19531vw 0.19531vw 0 0 #e5e5a6
  }

  .art-select:after {
    width      : 0.78125vw;
    height     : 0.78125vw;
    border-top : 0.39063vw solid #333;
    border-left: 0.39063vw solid #333;
    top        : 1.26953vw;
    right      : 1.46484vw
  }

  .art-select select {
    padding      : 0.78125vw 3.90625vw 0.78125vw 0.97656vw;
    font-size    : 1.75781vw;
    border-radius: 0.48828vw
  }

  .art-select select:focus,
  .art-select select:hover {
    -webkit-box-shadow: inset 0.19531vw 0.19531vw 0 0 #e5e5a6;
    box-shadow        : inset 0.19531vw 0.19531vw 0 0 #e5e5a6
  }

  .form-table caption {
    padding: 2.44141vw 3.90625vw
  }

  .form-table caption span {
    font-size: 2.53906vw
  }

  .form-table caption span:after {
    margin-left: 1.5625vw
  }

  .form-table td,
  .form-table th {
    font-size: 1.75781vw;
    padding  : 1.95313vw
  }

  fieldset legend {
    font-size    : 2.53906vw;
    padding-right: 1.5625vw
  }

  .captcha-block input {
    width       : 12.69531vw;
    margin-right: 1.95313vw
  }

  .captcha-block .captcha-img img {
    width : 11.71875vw;
    height: 3.90625vw
  }

  .section-input {
    margin-bottom: 0.97656vw
  }

  .section-input>*+* {
    margin-left: 0.97656vw !important
  }

  .section-input+.section-input {
    margin-left: 0.97656vw !important
  }

  .ctrl-block {
    margin-top   : 1.95313vw;
    margin-bottom: 1.95313vw
  }

  .form-radio input:checked+.tickr:before {
    border-width: 0.19531vw
  }

  .form-radio .tickr {
    width       : 1.95313vw;
    height      : 1.95313vw;
    margin-right: 0.97656vw;
    margin-top  : -0.19531vw
  }

  .form-radio.surround input:checked+.tickr:after {
    right : 0.39063vw;
    top   : -0.87891vw;
    width : 1.95313vw;
    height: 1.95313vw
  }

  .form-radio.surround input:checked+.tickr:before {
    width : 0.48828vw;
    height: 0.97656vw;
    right : 0.97656vw;
    top   : -0.58594vw
  }

  .form-radio.surround .tickr {
    border-width: 0.19531vw;
    padding     : 0.97656vw 4.88281vw;
    margin      : 0 1.95313vw
  }
}

@media (max-width:768px) {

  a.btn,
  button.btn,
  input[type=submit].btn {
    font-size         : 4.16667vw;
    padding           : 2.60417vw 5.85938vw;
    margin            : 2.60417vw 0;
    border-radius     : 1.30208vw;
    display           : block;
    width             : 100%;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
  }

  a.btn.with-icon .icon,
  button.btn.with-icon .icon,
  input[type=submit].btn.with-icon .icon {
    margin-right: 3.90625vw
  }

  a.btn.sml,
  button.btn.sml,
  input[type=submit].btn.sml {
    padding: 2.60417vw 6.51042vw
  }

  a.btn.loading:after,
  button.btn.loading:after,
  input[type=submit].btn.loading:after {
    width : 5.20833vw;
    height: 5.20833vw;
    right : -6.51042vw
  }

  input[type=email],
  input[type=number],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url],
  input[type=week] {
    font-size         : 4.6875vw;
    display           : block;
    width             : 100%;
    padding           : 2.08333vw 2.60417vw;
    border-radius     : 1.30208vw;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
  }

  input[type=email]:focus,
  input[type=email]:hover,
  input[type=number]:focus,
  input[type=number]:hover,
  input[type=search]:focus,
  input[type=search]:hover,
  input[type=tel]:focus,
  input[type=tel]:hover,
  input[type=text]:focus,
  input[type=text]:hover,
  input[type=url]:focus,
  input[type=url]:hover,
  input[type=week]:focus,
  input[type=week]:hover {
    -webkit-box-shadow: inset 0.52083vw 0.52083vw 0 0 #e5e5a6;
    box-shadow        : inset 0.52083vw 0.52083vw 0 0 #e5e5a6
  }

  .art-select {
    width: 100%
  }

  .art-select:after {
    width      : 2.08333vw;
    height     : 2.08333vw;
    border-top : 1.04167vw solid #333;
    border-left: 1.04167vw solid #333;
    top        : 3.38542vw;
    right      : 3.90625vw
  }

  .art-select select {
    padding      : 2.08333vw 10.41667vw 2.08333vw 2.60417vw;
    font-size    : 4.6875vw;
    border-radius: 1.30208vw
  }

  .art-select select:focus,
  .art-select select:hover {
    -webkit-box-shadow: inset 0.52083vw 0.52083vw 0 0 #e5e5a6;
    box-shadow        : inset 0.52083vw 0.52083vw 0 0 #e5e5a6
  }

  .form-table {
    display: block
  }

  .form-table caption {
    padding: 3.90625vw;
    display: block
  }

  .form-table caption span {
    font-size: 6.77083vw
  }

  .form-table caption span:after {
    margin-left: 4.16667vw
  }

  .form-table tbody,
  .form-table td,
  .form-table th,
  .form-table tr {
    display: block;
    width  : auto
  }

  .form-table td,
  .form-table th {
    font-size: 4.6875vw;
    padding  : 3.90625vw
  }

  .form-table th {
    text-align    : left;
    border-bottom : 0;
    padding-bottom: 1.30208vw
  }

  fieldset legend {
    font-size    : 6.77083vw;
    padding-right: 4.16667vw
  }

  .captcha-block input {
    width       : 33.85417vw;
    margin-right: 5.20833vw
  }

  .captcha-block .captcha-img img {
    width : 31.25vw;
    height: 10.41667vw
  }

  .section-input {
    -webkit-box-flex : 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow        : 1;
    margin-bottom    : 1.30208vw
  }

  .section-input>*+* {
    margin-left: 1.30208vw !important
  }

  .section-input+.section-input {
    margin-left: 0 !important
  }

  .ctrl-block {
    margin-top   : 2.60417vw;
    margin-bottom: 2.60417vw
  }

  .ctrl-block li {
    -webkit-flex-basis     : 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis             : 100%
  }

  .ctrl-block li+li {
    margin-left: 5.20833vw
  }

  .form-radio input:checked+.tickr:before {
    border-width: 0.78125vw
  }

  .form-radio .tickr {
    width       : 5.20833vw;
    height      : 5.20833vw;
    margin-right: 2.60417vw;
    margin-top  : -0.52083vw
  }

  .form-radio.surround input:checked+.tickr:after {
    right : 1.04167vw;
    top   : -2.34375vw;
    width : 6.51042vw;
    height: 6.51042vw
  }

  .form-radio.surround input:checked+.tickr:before {
    width : 1.5625vw;
    height: 2.86458vw;
    right : 3.125vw;
    top   : -1.30208vw
  }

  .form-radio.surround .tickr {
    border-width: 0.52083vw;
    padding     : 1.95313vw 6.51042vw;
    margin      : 0
  }
}

header {
  background: #FFFFFF;
  position  : relative;
  z-index   : 1000;
  width     : 100%
}

header .container {
  padding            : 15px 20px 10px;
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : end;
  -webkit-align-items: flex-end;
  -ms-flex-align     : end;
  align-items        : flex-end
}

header .header-top {
  border-bottom: 6px solid #d00f24
}

header .header-title {
  border-left : 1px solid #d2d2d2;
  padding-left: 14px;
  color       : #d00f24;
  font-size   : 18px;
  font-weight : bold;
  line-height : 1
}

header .logo {
  margin-right: 16px
}

header .logo a {
  display: block;
  width  : 176px;
  height : auto
}

header .logo a img {
  max-width     : 100%;
  height        : 100%;
  vertical-align: top
}

@media (max-width:1024px) {
  header .logo a {
    width: 17.1875vw
  }

  header .header-title {
    padding-left: 1.36719vw;
    font-size   : 1.75781vw
  }

  header nav .nav-list li {
    font-size: 1.66016vw
  }

  header nav .nav-list li a {
    padding: 0.39063vw 2.34375vw 0
  }
}

@media (max-width:768px) {
  header .logo {
    margin-right: 2.08333vw
  }

  header .logo a {
    width             : 36.45833vw;
    height            : auto;
    padding           : 2.60417vw;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box
  }

  header .container {
    padding-top        : 0;
    padding            : 0 2.60417vw 0 0;
    -webkit-box-align  : center;
    -webkit-align-items: center;
    -ms-flex-align     : center;
    align-items        : center
  }

  header .header-title {
    font-size   : 4.6875vw;
    padding-left: 3.64583vw
  }

  header .header-top {
    border-width: 0.78125vw
  }
}

footer {
  font-size              : 13px;
  position               : relative;
  background-color       : #254a91;
  color                  : #ededed;
  text-align             : center;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center
}

footer .container {
  max-width: 100%;
  padding  : 10px
}

footer .copyright {
  line-height            : 2;
  -webkit-box-sizing     : border-box;
  box-sizing             : border-box;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center
}

footer .copyright p {
  margin: 0 10px
}

footer .copyright a {
  color   : white;
  margin  : 0 10px;
  position: relative
}

footer .copyright a:after {
  content         : "";
  position        : absolute;
  top             : 25%;
  right           : -10px;
  height          : 60%;
  width           : 1px;
  background-color: #93abd8
}

footer .copyright a:last-child:after {
  display: none
}

footer .go2cs {
  color      : #ededed;
  margin-left: 48px
}

footer .links a {
  margin: 0 10px
}

@media (max-width:1024px) {
  footer {
    font-size: 1.26953vw
  }

  footer .go2cs {
    margin-left: 4.6875vw
  }

  footer .links a {
    margin: 0 0.97656vw
  }
}

@media (max-width:768px) {
  footer {
    position: static
  }

  footer .container {
    padding: 1.95313vw 0
  }

  footer .copyright {
    display    : block;
    font-size  : 3.90625vw;
    line-height: 1.5;
    height     : auto
  }

  footer .copyright>p {
    display: block;
    margin : 0 1.30208vw
  }

  footer .copyright .links {
    display                : -webkit-box;
    display                : -webkit-flex;
    display                : -ms-flexbox;
    display                : flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack          : distribute;
    justify-content        : space-around
  }
}

.wrapper-container {
  background: #ededed
}

.udline {
  text-decoration: underline
}

.req-notice {
  display: none
}

.full-btn {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-flex-wrap      : wrap;
  -ms-flex-wrap          : wrap;
  flex-wrap              : wrap;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center
}

.full-btn .btn {
  font-size              : 36px;
  -webkit-flex-basis     : 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis             : 50%;
  margin-left            : 20px;
  margin-right           : 20px
}

.steps-block {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack          : justify;
  justify-content        : space-between;
  position               : relative;
  color                  : #f45550
}

.steps-block:after {
  content         : "";
  display         : block;
  height          : 8px;
  background-color: #f45550;
  width           : 100%;
  position        : absolute;
  bottom          : 16px;
  z-index         : 0
}

.steps-block li {
  -webkit-flex-basis     : 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis             : 25%;
  font-size              : 30px;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  -webkit-flex-wrap      : wrap;
  -ms-flex-wrap          : wrap;
  flex-wrap              : wrap
}

.steps-block li span {
  display                : block;
  white-space            : nowrap;
  -webkit-flex-basis     : 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis             : 100%;
  position               : relative;
  z-index                : 1;
  height                 : 45px;
  opacity                : 0
}

.steps-block li span i {
  position         : absolute;
  left             : 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform    : translateX(-50%);
  transform        : translateX(-50%);
  display          : block;
  text-align       : center
}

.steps-block li:after {
  content           : "";
  display           : block;
  width             : 41px;
  height            : 41px;
  border            : 10px solid #f45550;
  border-radius     : 50%;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  background-color  : #f45550;
  position          : relative;
  z-index           : 1
}

.steps-block li.active span {
  opacity: 1
}

.steps-block li.active:after {
  background-color: #fff
}

.result-msg {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  font-size              : 36px;
  letter-spacing         : .2em
}

.result-msg p {
  margin-left: 20px
}

.result-msg .icon-tick {
  display: inline-block;
  width  : 58px;
  height : 58px
}

.result-msg.success .icon-tick {
  background: url(../images/icon-tick.svg) no-repeat center center
}

.result-msg.warning .icon-tick {
  background: url(../images/icon-att.svg) no-repeat center center
}

.check-lists {
  line-height: 1.5
}

.check-lists>li {
  margin-bottom: 1em
}

.check-lists .is-no .icon-check,
.check-lists .is-yes .icon-check {
  display   : block;
  width     : 18px;
  height    : 18px;
  background: url(../images/icon-tick2.svg) no-repeat center center
}

.check-lists .is-no .icon-check {
  background-image: url(../images/icon-tick3.svg)
}

.check-lists .is-no span {
  color: #f45550
}

.check-lists .check {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.check-lists .check .icon-check {
  margin-right: 8px
}

.check-lists .desc-block {
  margin-left: 26px
}

.index {
  padding-top   : 30px;
  padding-bottom: 30px
}

h1 {
  font-size  : 60px;
  line-height: 2;
  text-align : center
}

h2 {
  font-size: 34px
}

h4 {
  font-size  : 30px;
  line-height: 1.7;
  text-align : center
}

.with-icon {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.with-icon .icon {
  margin-right: 15px
}

.content {
  padding      : 25px 40px;
  background   : white;
  border       : 1px solid #aaa;
  border-radius: 5px;
  font-size    : 18px
}

.content+.content {
  margin-top: 35px
}

.content.transparent {
  background   : transparent;
  border       : 0;
  margin-bottom: 15px
}

.content.nopad {
  padding: 0
}

.content+.transparent {
  margin-top: -20px
}

.content:last-child {
  margin-bottom: 0
}

.date-select {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.date-select>* {
  margin-right: 10px
}

.send-sms-block {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  -webkit-box-pack       : justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack          : justify;
  justify-content        : space-between
}

.send-sms-block.wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap    : wrap;
  flex-wrap        : wrap
}

.send-sms-block .validation-block {
  -webkit-flex-basis     : 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis             : 100%;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center
}

.send-sms-block input,
.send-sms-block label {
  margin-left: 20px
}

.send-sms-block .validation {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.switch-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.switch-block .switch-content {
  display: none
}

.switch-block .switch-content.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.switch-block .switch-content .full {
  -webkit-flex-basis     : 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis             : 100%
}

.switch-block .switch-wrap {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
  -webkit-flex-wrap  : wrap;
  -ms-flex-wrap      : wrap;
  flex-wrap          : wrap
}

.switch-block .line-block {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center
}

.section-input.words {
  display                : block;
  -webkit-flex-basis     : 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis             : 100%
}

.section-input.btns .btn+.btn {
  margin-left: 0 !important
}

.card-block {
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack          : justify;
  justify-content        : space-between
}

.card-block .card-item {
  -webkit-flex-basis     : 44%;
  -ms-flex-preferred-size: 44%;
  flex-basis             : 44%
}

.card-block .card-item img {
  max-width : 100%;
  max-height: 100%;
  margin    : 15px 0
}

.lboxed {
  display           : none;
  height            : auto;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  position          : relative;
  width             : auto;
  max-width         : 768px;
  padding           : 0 25px 50px
}

.lboxed>.close {
  position: absolute;
  right   : 39px;
  top     : 14px;
  width   : 38px;
  height  : 38px;
  cursor  : pointer
}

.lboxed>.close:after,
.lboxed>.close:before {
  content          : "";
  display          : block;
  width            : 80%;
  height           : 3px;
  background       : #ccc;
  position         : absolute;
  top              : 50%;
  left             : 50%;
  margin-top       : -1.5px;
  margin-left      : -40%;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg)
}

.lboxed>.close:after {
  -webkit-transform: rotate(135deg);
  -ms-transform    : rotate(135deg);
  transform        : rotate(135deg)
}

.lboxed-iframe {
  max-width: 960px;
  width    : 100%;
  padding  : 0
}

.lboxed-iframe>.close {
  right : 1em;
  top   : 1em;
  width : 38px;
  height: 38px
}

.lboxed .lbox-block {
  display           : inline-block;
  width             : auto;
  height            : 100%;
  padding           : 15px;
  overflow-y        : auto;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  background        : #fff;
  border            : 1px solid #dddddd;
  border-radius     : 5px;
  text-align        : justify;
  text-justify      : inter-ideograph
}

.lboxed .lbox-block>div {
  display: none;
  margin : 0 auto
}

.lboxed .lbox-block-full {
  width: 100%
}

.lboxed h3 {
  border-bottom: 0;
  font-weight  : normal;
  padding-left : 0;
  padding-right: 40px
}

.lboxed .terms-block {
  height       : 50vh;
  padding      : 15px;
  padding-right: 0;
  background   : #f5f5f5;
  overflow     : hidden
}

.lboxed .terms-block .wrapper {
  height                    : 100%;
  overflow-y                : auto;
  -webkit-overflow-scrolling: touch;
  padding-right             : 7px
}

.lboxed .terms-block-iframe {
  width  : calc(100% - 30px);
  padding: 0;
  margin : 45px auto 0;
  height : 60vh
}

.lboxed .terms-block-iframe>iframe {
  width : 100%;
  height: calc(100% - 12px)
}

.lboxed .has-table table td,
.lboxed .has-table table th {
  border        : 1px solid #aaa;
  vertical-align: middle;
  padding       : 10px 5px
}

.lboxed .has-table table tr th {
  text-align: center
}

.lboxed .has-table table tr th:first-child {
  white-space: nowrap
}

.lboxed .error-msg h3 {
  display            : -webkit-box;
  display            : -webkit-flex;
  display            : -ms-flexbox;
  display            : flex;
  -webkit-box-align  : center;
  -webkit-align-items: center;
  -ms-flex-align     : center;
  align-items        : center;
  font-weight        : bold;
  font-size          : 20px;
  line-height        : 38px;
  padding-right      : 40px;
  color              : #474747;
  text-align         : left;
  margin-bottom      : 10px
}

.lboxed .error-msg h3:before {
  content                : "！";
  display                : inline-block;
  background             : #d00f24;
  width                  : 30px;
  height                 : 30px;
  border-radius          : 50%;
  color                  : white;
  font-weight            : bold;
  display                : -webkit-box;
  display                : -webkit-flex;
  display                : -ms-flexbox;
  display                : flex;
  -webkit-box-pack       : center;
  -webkit-justify-content: center;
  -ms-flex-pack          : center;
  justify-content        : center;
  -webkit-box-align      : center;
  -webkit-align-items    : center;
  -ms-flex-align         : center;
  align-items            : center;
  margin-right           : .6em;
  font-size              : 28px
}

.lboxed .error-msg .desc {
  text-align: center
}

@media (max-width:1024px) {
  .full-btn .btn {
    font-size   : 3.51563vw;
    margin-left : 1.95313vw;
    margin-right: 1.95313vw
  }

  .steps-block:after {
    height: 0.78125vw;
    bottom: 1.5625vw
  }

  .steps-block li {
    font-size: 2.92969vw
  }

  .steps-block li span {
    height: 4.39453vw
  }

  .steps-block li:after {
    width       : 4.00391vw;
    height      : 4.00391vw;
    border-width: 0.97656vw
  }

  .result-msg {
    font-size: 3.51563vw
  }

  .result-msg p {
    margin-left: 1.95313vw
  }

  .result-msg .icon-tick {
    width : 5.66406vw;
    height: 5.66406vw
  }

  .check-lists .is-no .icon-check,
  .check-lists .is-yes .icon-check {
    width : 1.75781vw;
    height: 1.75781vw
  }

  .check-lists .check .icon-check {
    margin-right: 0.78125vw
  }

  .check-lists .desc-block {
    margin-left: 2.53906vw
  }

  .index {
    padding-top   : 2.92969vw;
    padding-bottom: 2.92969vw
  }

  h1 {
    font-size: 5.85938vw
  }

  h2 {
    font-size: 3.32031vw
  }

  h4 {
    font-size: 2.92969vw
  }

  .with-icon .icon {
    margin-right: 1.46484vw
  }

  .content {
    padding      : 2.44141vw 3.90625vw;
    margin-bottom: 3.41797vw;
    border-radius: 0.48828vw;
    font-size    : 1.75781vw
  }

  .content.transparent {
    margin-bottom: 1.46484vw
  }

  .content+.transparent {
    margin-top: -1.95313vw
  }

  .content:last-child {
    margin-bottom: 0
  }

  .date-select>* {
    margin-right: 0.97656vw
  }

  .send-sms-block input,
  .send-sms-block label {
    margin-left: 1.95313vw
  }

  .send-sms-block input input,
  .send-sms-block label input {
    margin-left: 1.95313vw
  }

  .card-block .card-item img {
    margin: 1.46484vw 0
  }

  .lboxed {
    max-width: 75vw;
    padding  : 0 2.44141vw 4.88281vw
  }

  .lboxed>.close {
    right : 3.80859vw;
    top   : 1.36719vw;
    width : 3.71094vw;
    height: 3.71094vw
  }

  .lboxed>.close:after,
  .lboxed>.close:before {
    height    : 0.29297vw;
    margin-top: -0.14648vw
  }

  .lboxed .lbox-block {
    padding      : 1.46484vw;
    border-radius: 0.48828vw
  }

  .lboxed h3 {
    border-bottom: 0;
    padding-right: 3.90625vw
  }

  .lboxed .terms-block {
    padding: 1.46484vw
  }

  .lboxed .terms-block .wrapper {
    padding-right: 0.68359vw
  }

  .lboxed .terms-block-iframe {
    width  : calc(100% - 15px);
    padding: 0;
    margin : 4.39453vw auto 0
  }

  .lboxed .has-table table td,
  .lboxed .has-table table th {
    padding: 0.97656vw 0.48828vw
  }

  .lboxed .error-msg h3 {
    font-size    : 1.95313vw;
    line-height  : 3.71094vw;
    padding-right: 3.90625vw;
    margin-bottom: 0.97656vw
  }

  .lboxed .error-msg h3:before {
    width    : 2.92969vw;
    height   : 2.92969vw;
    font-size: 2.73438vw
  }
}

@media (max-width:768px) {
  .content.steps-outer {
    padding-left : 0;
    padding-right: 0;
    border-top   : 0
  }

  .steps-block:after {
    height: 1.04167vw;
    bottom: 2.08333vw
  }

  .steps-block li {
    font-size: 3.90625vw
  }

  .steps-block li span {
    height: 5.85938vw
  }

  .steps-block li:after {
    width       : 5.33854vw;
    height      : 5.33854vw;
    border-width: 1.30208vw
  }

  .result-msg {
    font-size: 6.51042vw
  }

  .result-msg p {
    margin-left: 2.60417vw
  }

  .result-msg .icon-tick {
    width : 10.41667vw;
    height: 10.41667vw
  }

  .check-lists .is-no .icon-check,
  .check-lists .is-yes .icon-check {
    width : 5.20833vw;
    height: 5.20833vw
  }

  .check-lists .check .icon-check {
    margin-right: 2.08333vw
  }

  .check-lists .desc-block {
    margin-left: 7.29167vw
  }

  h1 {
    font-size  : 5.20833vw;
    font-weight: bold;
    color      : #000
  }

  h2 {
    font-size: 5.72917vw
  }

  h4 {
    font-size: 4.16667vw
  }

  .with-icon .icon {
    margin-right: 3.90625vw
  }

  .content {
    font-size    : 4.6875vw;
    border-radius: 0;
    padding      : 3.90625vw;
    border-left  : 0;
    border-right : 0
  }

  .full-btn .btn {
    font-size              : 4.6875vw;
    -webkit-flex-basis     : 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis             : 100%
  }

  .send-sms-block .validation-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap
  }

  .send-sms-block label {
    -webkit-flex-basis     : 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis             : 100%;
    margin-left            : 0
  }

  .send-sms-block .btn-block {
    display                : -webkit-box;
    display                : -webkit-flex;
    display                : -ms-flexbox;
    display                : flex;
    -webkit-box-pack       : center;
    -webkit-justify-content: center;
    -ms-flex-pack          : center;
    justify-content        : center;
    -webkit-flex-wrap      : wrap;
    -ms-flex-wrap          : wrap;
    flex-wrap              : wrap;
    -webkit-flex-shrink    : 0;
    -ms-flex-negative      : 0;
    flex-shrink            : 0
  }

  .send-sms-block input {
    width: auto
  }

  .send-sms-block .validation {
    -webkit-flex-basis     : 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis             : 100%;
    -webkit-box-pack       : justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack          : justify;
    justify-content        : space-between
  }

  .send-sms-block .validation input {
    margin-left: 0;
    width      : 47%
  }

  .switch-block .line-block {
    -webkit-box-flex : 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow        : 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap
  }

  .card-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap
  }

  .card-block .card-item {
    -webkit-flex-basis     : 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis             : 100%
  }

  .card-block .card-item img {
    margin: 1.95313vw 0
  }

  .lboxed {
    max-width: 100%;
    padding  : 0 6.51042vw 13.02083vw
  }

  .lboxed>.close {
    right : 10.15625vw;
    top   : 3.64583vw;
    width : 9.89583vw;
    height: 9.89583vw
  }

  .lboxed>.close:after,
  .lboxed>.close:before {
    height    : 0.78125vw;
    margin-top: -0.39063vw
  }

  .lboxed-iframe {
    padding: 0 1.95313vw
  }

  .lboxed-iframe>.close {
    width     : 7.8125vw;
    height    : 7.8125vw;
    min-width : 40px;
    min-height: 40px;
    right     : 26px;
    top       : 1.04167vw
  }

  .lboxed-iframe>.close:after,
  .lboxed-iframe>.close:before {
    height    : 6px;
    margin-top: 0
  }

  .lboxed .lbox-block {
    padding      : 3.90625vw;
    border-radius: 1.30208vw
  }

  .lboxed .lbox-block .desc {
    font-size: 4.6875vw
  }

  .lboxed .lbox-block-full {
    padding: 6.51042vw 12px 16px
  }

  .lboxed h3 {
    padding-right: 10.41667vw
  }

  .lboxed .terms-block {
    padding: 3.90625vw
  }

  .lboxed .terms-block .wrapper {
    padding-right: 1.82292vw
  }

  .lboxed .terms-block-iframe {
    padding: 0;
    margin : 26px auto 0
  }

  .lboxed .terms-block-iframe>iframe {
    height: calc(100% - 8px)
  }

  .lboxed .has-table table td,
  .lboxed .has-table table th {
    padding: 2.60417vw 1.30208vw
  }

  .lboxed .error-msg h3 {
    font-size    : 5.20833vw;
    line-height  : 9.89583vw;
    padding-right: 10.41667vw;
    margin-bottom: 2.60417vw
  }

  .lboxed .error-msg h3:before {
    width    : 7.8125vw;
    height   : 7.8125vw;
    font-size: 7.29167vw
  }
}

.center-block {
  display     : block;
  margin-right: auto;
  margin-left : auto
}

.hide {
  display: none !important
}

.show {
  display: block !important
}

.invisible {
  visibility: hidden
}

.text-hide {
  font            : 0/0 a;
  color           : transparent;
  text-shadow     : none;
  background-color: transparent;
  border          : 0
}

.hidden {
  display: none !important
}

.affix {
  position: fixed
}

@-ms-viewport {
  width: device-width
}

@media (max-width:1024px) {
  .hidden-middle {
    display: none !important
  }
}

@media (max-width:768px) {
  .hidden-min {
    display: none !important
  }
}

@media (min-width:769px) {
  .hidden-max {
    display: none !important
  }
}

.visible-print {
  display: none !important
}

@media print {
  .visible-print {
    display: block !important
  }

  table.visible-print {
    display: table
  }

  tr.visible-print {
    display: table-row !important
  }

  td.visible-print,
  th.visible-print {
    display: table-cell !important
  }
}

.visible-print-block {
  display: none !important
}

@media print {
  .visible-print-block {
    display: block !important
  }
}

.visible-print-inline {
  display: none !important
}

@media print {
  .visible-print-inline {
    display: inline !important
  }
}

.visible-print-inline-block {
  display: none !important
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important
  }
}

@media print {
  .hidden-print {
    display: none !important
  }
}

/*# sourceMappingURL=styles.css.map */
