<div class="container-fluid u-maxWidth-1024 pt-3">
	<h2 class="text-left my-4 u-font-weight-700 t-superTitle">消費碳足跡查詢</h2>
	<div class="d-flex flex-column align-items-center"> <span class="icon icon-information-red mt-5 mb-3"></span>
		<h3>您尚未持有支援碳足跡查詢服務之卡別。</h3>
		<div class="d-flex justify-content-center align-items-center flex-wrap mt-5"> <a
				class="btn btn-primary btn-md-block" href="https://bank.sinopac.com/sinopacBT/webevents/2208_green/index.html"
				target="_blank">了解更多</a></div>
	</div>
</div>
<div class="footer-notice"></div>
