<div class="wrapper">
	<div class="cover"></div>
	<header>
		<div class="container">
			<div class="logo">
				<a target="_blank" href="https://bank.sinopac.com/bsp/index/index.asp" title="永豐銀行首頁">
					<img class="hidden-min" src="/mma8/card/images/sinopac-logo.svg" alt="永豐銀行" />
					<img class="hidden-max" src="/mma8/card/images/sinopac-logo-min.svg" alt="永豐銀行">
				</a>
			</div>
			<div class="master-title">{{pageinfo.name}}</div>
		</div>
	</header>
	<div class="outer_container housefun">
		<div class="container no-breadcrumbs">
			<div class="formblock title-block">
				<h1>永豐銀行好房卡</h1>
				<h2>結合房貸和信用卡額度，給您最有感的刷卡消費額度，
					<br class="hidden-min">房貸在永豐，盡享受消費樂趣，品味快意人生！</h2>
			</div>
			<div class="content">
				<section class="card-apply-block">
					<div class="lft">
						<p>適用對象：</p>
						<h3 class="red">永豐銀行房貸戶貴賓</h3>
						<br>
						<p>商品特色：</p>
						<ol class="for-tick">
							<li>房子作後盾，信用卡刷卡消費額度加碼給</li>
							<li>線上立即申辦</li>
							<li>永豐信用卡刷卡消費享優惠</li>
						</ol>
					</div>
					<div class="rgt">
						<div class="apply-block">
							<p class="title red">您希望如何使用您的好房卡額度？</p>
							<div class="btn-zone">
								<a class="nbtn focus open-lbox" routerLink="/Application/ApplyCard" [queryParams]="{ IsHouseLoanCard: true }">辦新卡</a>
								<a class="nbtn focus" routerLink="/Transaction/PermCLIMortgage">舊卡調額</a>
							</div>
							<p>※提醒您，好房卡僅限永豐銀行房貸戶申請喔！ 如果您還不是永豐房貸戶，請點
								<a href="https://mma.sinopac.com/Share/HouseLoan/ApplyHouseLoanComTM.aspx?ProjectID=M03&stage=0301"
								 class="hidden-min" target="_blank">這裡</a>
								<a href="https://m.sinopac.com/m/share/houseLoan/m_ApplyHouseLoanTM.aspx?ProjectID=M03&stage=0301" class="hidden-max"
								 target="_blank">這裡</a>
							</p>
						</div>
					</div>
				</section>
				<br>
				<hr>
				<div class="notice-block">
					<p>注意事項</p>
					<ol class="decimal">
						<li>限本行房貸戶且第一順位抵押權設定於本行之房屋所有權人申請。</li>
						<li>本行保有徵提文件及准駁與否之權利，同時保留商品修改、變更及額度調整之權利。</li>
						<li>詳細內容以本行最新公告為準，或請洽本行各營業單位及客服專線 02-25059999。</li>
					</ol>
				</div>
			</div>
			<div class="warnings nohr">
				<p>謹慎理財 信用至上</p>
				<p>24小時服務專線：(02)2528-7776/0800-058-888 (限市話) 郵政信箱：100臺北重南郵局第88號信箱
					<br>循環信用利率5%~15% (基準日2023/3/3)；預借現金手續費：預借現金金額X3.5%+指定金額(100元新臺幣/3.5美元/350日圓/3歐元)</p>
			</div>
		</div>
	</div>
	<!-- <div class="lboxed">
		<div class="close"></div>
		<div class="lbox-block">
			<div id="check-qualifications" class="terms-lbox">
				<br>
				<p>很抱歉，經核對身分資料您目前尚無法申請好房卡額度資格!</p>
				<p>請改申請本行一般信用卡或留下聯絡資訊。我們將會致電與您聯繫，謝謝!</p>
				<div class="btn-zone flex-inline-min stick">
					<a href="#" class="nbtn focus">申請一般信用卡</a>
					<a href="#" class="nbtn focus">留下聯絡資訊</a>
				</div>
			</div>
		</div>
	</div> -->
	<footer>
		<div class="copyright hidden-min">
			<p>©版權所有永豐銀行 建議瀏覽器IE11.0以上/解析度1024*768
				<a class="go2cs" target="_blank" href="https://bank.sinopac.com/MMA8/bank/service/service-index.html">客服中心</a>
			</p>
		</div>
		<div class="copyright hidden-max">
			<p>© 版權所有 永豐銀行
				<br>24小時服務專線：02-25059999 0203-08989
			</p>
		</div>
	</footer>
</div>
