<!-- <div class="wrapper-container">
  <div class="wrapper">
    <div class="wrapper-mask"></div> -->
    <!-- <header>
      <div class="header-top">
        <div class="container">
          <div class="logo">
            <a href="https://bank.sinopac.com/" title="永豐銀行首頁"
              ><img class="hidden-min" src="../images/sinopac-logo.svg" alt="永豐銀行" /><img class="hidden-max" src="../images/sinopac-logo-min.svg" alt="永豐銀行"
            /></a>
          </div>
          <h1 class="master-title">信用卡卡片退回重寄申請</h1>
        </div>
      </div>
    </header> -->
    <!-- <div class="outer_container">
      <div class="container no-breadcrumbs">
        <div class="content transparent step-panel-block"> -->
          <!-- <div class="step">
            <ul class="list-step list-step--gray">
              <li class="list-step__item list-step__item--active"><span class="list-step__item-num"></span><span class="list-step__item-title">填寫資料</span></li>
              <li class="list-step__item list-step__item--active"><span class="list-step__item-num"></span><span class="list-step__item-title">確認資料</span></li>
              <li class="list-step__item list-step__item--current"><span class="list-step__item-num"></span><span class="list-step__item-title">申請結果</span></li>
            </ul>
          </div> -->
        <!-- </div> -->
        <div class="content full-content">
          <section class="trans-content">
            <table class="new-datatable">
              <tbody>
                <tr>
                  <td>
                    <div class="success">
                      <i class="{{success ? 'icon-tick' : 'icon-error'}}"></i>
                      <p>{{success ? '您已申請成功' : failMessage}}</p>
                    </div>
                  </td>
                </tr>
                <ng-template [ngIf]="!success">
                  <tr class="line">
                    <td></td>
                  </tr>
                  <tr>
                    <td class="reminds">
                      <p class="center">{{failDetailMessage}}請與客服聯絡(02)2528-7776</p>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </section>
        </div>
        <div class="content">
          <section class="trans-content">
            <fieldset class="fieldset-block pink-legend">
              <legend>卡片資料</legend>
              <div class="confirm-data-block">
                <table>
                  <tbody>
                    <tr>
                      <th>
                        <p>申請卡片</p>
                      </th>
                      <td>
                        <p class="mbhalf" *ngFor="let item of applyCards">{{item.CardName}}<br />{{item.CardNo | creditcard}}</p>
                        <!-- <p class="mbhalf">SPORT悠遊鈦商奶油黃卡(主卡)<br />1234 **** **** 5678</p>
                        <p class="mbhalf">DAWHO現金回饋信用卡(主卡)<br />1234 **** **** 5678</p> -->
                      </td>
                    </tr>
                    <tr>
                      <th>
                        <p>卡片寄送地址</p>
                      </th>
                      <td>
                        <p>{{address}}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>
          </section>
        </div>
        <!-- <div class="content transparent">
          <section class="carousel">
            <div class="splide">
              <div class="splide__track">
                <ul class="splide__list steplist">
                  <li class="splide__slide">
                    <a class="splide__link splide__imgbox" href="#" target="_blank">
                      <figure class="splide__figure">
                        <img class="splide__img" src="../images/banner/18ec202f6e2000002ef1.jpg" alt="世界是一本書，旅遊成就了人生閱讀" />
                        <figcaption class="splide__figcaption">世界是一本書，旅遊成就了人生閱讀</figcaption>
                      </figure></a
                    >
                  </li>
                  <li class="splide__slide">
                    <a class="splide__link splide__imgbox" href="#" target="_blank">
                      <figure class="splide__figure">
                        <img class="splide__img" src="../images/banner/18f2c96da6d000002c5a.jpg" alt="我阿母的超強工具" />
                        <figcaption class="splide__figcaption">我阿母的超強工具</figcaption>
                      </figure></a
                    >
                  </li>
                  <li class="splide__slide">
                    <a class="splide__link splide__imgbox" href="#" target="_blank">
                      <figure class="splide__figure">
                        <img class="splide__img" src="../images/banner/18ec66ca03a00000a2c2.jpg" alt="寵媽必BUY" />
                        <figcaption class="splide__figcaption">寵媽必BUY</figcaption>
                      </figure></a
                    >
                  </li>
                  <li class="splide__slide">
                    <a class="splide__link splide__imgbox" href="#" target="_blank">
                      <figure class="splide__figure">
                        <img class="splide__img" src="../images/banner/18ec1fdc80100000457e.jpg" alt="分期刷永豐" />
                        <figcaption class="splide__figcaption">分期刷永豐</figcaption>
                      </figure></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- <footer>
      <div class="container">
        <div class="copyright">
          <p>©版權所有 永豐銀行</p>
          <p class="hidden-min"><a href="https://mma.sinopac.com/Bank/BankFrame.aspx?url=browser/upgrade.html" target="_blank">建議使用之瀏覽器</a>/ 建議解析度1024*768</p>
        </div>
        <div class="copyright">
          <p>
            <a href="https://bank.sinopac.com/MMA8/bank/service/service-index.html" target="_blank">客服中心</a
            ><a href="https://mma.sinopac.com/MemberPortal/Member/MmaInfoFrame.aspx?url=channel/other/safe.html" target="_blank">網路安全說明</a
            ><a href="https://bank.sinopac.com/sinopacBT/footer/privacy-statement.html" target="_blank">隱私權保護聲明</a>
          </p>
        </div>
      </div>
    </footer> -->
  <!-- </div>
</div> -->
